django
graphene-django
django-cors-headers
requests
django-environ
celery
redis
channels
channels-redis
django-graphql-jwt
django-filter
dj-database-url
whitenoise
uvicorn
gunicorn
psycopg2
sentry-sdk==0.13.5